.NavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px;
    background-color: rgb(92, 58, 169);
    height: 50px;
  }
  
  .NavBar-link {
    margin: 0 10px;
  }
  
  .NavBar-welcome {
    color: grey;
  }