.Nav {
    height: 50px;
    color: #000000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'system-ui, -apple-system, BlinkMacSystemFont', "Helvetica Neue",
    "Lucida Grande", "Segoe UI";
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: aquamarine;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightblue;
    font-size: 16px;
    padding-right: 20px;

}

.SubNav {
  font-size: 14px;
  height: 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: gainsboro;
  box-shadow: 0 2px 5px -2px rgb(160, 143, 143);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}

.NavSearch {
  width: 60%;
  height: 35px;
  font-size: 14px;
  font-family: 'Poppins';
  background-color: rgba(0,0,0,.05);
  border: none;
  display: flex;
  justify-content: center;
}

.searchbtn {
  height: 37px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgb(224,114, 106);
  text-align: center;
  border: none;
  font-family: 'Poppins';
  letter-spacing: 0.3px;
  font-size: 14px;
}

.joinbtn {
  border: solid;
  border-width: .5px;
  border-color: #9a9a9a;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.75;
  font-family: 'Poppins';
  background-color: gainsboro;
}

.Nav-link {
  text-decoration: none;
  color: black;
}

.Nav-link:hover {
  color: purple;
}

#logout {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

#nodary {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: bold;
}